{% comment %}
  Renders an author list defined in 'config.yaml' with links to people's sites.

  Supports rendering asterisks to indicate equal contribution for paper
  authorship. You can also use this to simply link to a single person's
  website.

  Usage: include authors.html names="foo, bar, baz" surrounded by the
  appropriate tags.
{% endcomment %}

{%- assign authors_split = include.names | split: ", " -%}
{%- assign n_authors = authors_split | size -%}
{%- for i in (0..n_authors) -%}
  {%- assign author_key = authors_split[i] -%}
  {%- if author_key contains "*" -%}
    {%- assign k = author_key | replace: "*", "" -%}
    {%- assign prefix = "" -%}
    {%- assign suffix = "<span>&#42;</span>" -%}
  {%- else -%}
    {%- assign k = author_key -%}
    {%- assign prefix = "" -%}
    {%- assign suffix = "" -%}
  {%- endif -%}
  {%- if k == "me" -%}
    {%- assign k = "barsan" -%}
  {%- endif -%}
  {%- if k == "barsan" -%}
    {%- assign prefix = "<strong title='You are here!'>" -%}
    {%- assign suffix = "</strong>" | append: suffix -%}
  {%- endif -%}
  {%- assign a = site.people[k] -%}
    {%- if a.site -%}
      {{prefix}} <a href="{{ a.site }}" title="{{ a.name }}'s website" target="_blank">{{ a.name }}</a>{{suffix}}
    {%- else -%}
      {{prefix}}{{ a.name }}{{suffix}}
    {%- endif -%}
    {%- assign limit = n_authors | minus: 2 -%}
    {%- if i < limit -%}
      ,&nbsp;
    {%- endif -%}
    {%- if i == limit -%}
      &nbsp;and
    {%- endif -%}
{%- endfor -%}


