<section id="intro">
  <a href="{{ site.url }}" class="logo">
    <img src="{{ "/assets/images/uber-photo-2019-square-crop-500px.jpg" | prepend: site.baseurl }}"
      alt="Andrei's photo."/>
  </a>
	<header>
    <h2><a href="{{ site.url }}">{{ site.author }}</a></h2>
    <p>Computer Vision Researcher</p>
    <p>University of Toronto</p>
    <!--p>
    <a href="/">About</a> |
    <a href="/blog/">Blog</a> |
    <a href="/misc/">Misc</a> |
    <a href="/dynslam/">DynSLAM</a>
    </p-->
	</header>
</section>
