<ul id="post-list">
    {% for post in paginator.posts %}
        <li>
          <section class="post-header">
            <a href='{{ post.url }}'><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            <a href='{{ post.url }}'>{{ post.title }} <h2>{{ post.description }}</h2></a>
          </section>
          <section class="post-body">
            {{ post.excerpt }}
          </section>
          <section class="post-footer">
            <a href='{{ post.url }}'>Discussion</a>
              {% assign a = post.content | split: site.excerpt_separator %}
              {% assign a = a[1] | size %}
              {% if a != 0 %}
                | <a href="{{ post.url | append:"#title-start" }}">Read more &rarr;</a>
              {% endif %}
          </section>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
